<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontakt - GameBase</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
</head>

<body>

    <header id="page-header">
        <div class="site-title"><a href="/">GameBase</a></div>
        <nav class="header-nav">
            <a href="/">Katalog</a>
            <a href="/about">O nas</a>
            <a href="/contact" class="active">Kontakt</a>
            <a href="/faq">FAQ</a>
            <a href="/admin" class="admin-btn">Panel Admina</a>
        </nav>
    </header>

    <main>
        <h1>Skontaktuj się z nami</h1>
        <p>
            Masz pomysł na nową funkcjonalność? Chcesz zasugerować grę, której brakuje w naszej bazie? A może znalazłeś
            błąd? Twoja opinia jest dla nas niezwykle cenna!
        </p>

        <h2>Sugestie i błędy</h2>
        <p>
            Wszelkie uwagi dotyczące działania strony oraz propozycje nowych gier prosimy kierować na adres e-mail:
            <br>
            <a href="mailto:sugestie@example.com" class="contact-link">sugestie@example.com</a>
        </p>

        <h2>Zobacz kod projektu</h2>
        <p>
            Jesteśmy otwarci na współpracę i dzielenie się wiedzą. Kod źródłowy tego projektu możesz znaleźć na naszym
            profilu GitHub. Zachęcamy do jego przeglądania!
            <br>
            <a href="#" class="contact-link">Przejdź do repozytorium na GitHub</a>
        </p>
    </main>
    <footer id="page-footer">
        <div class="footer-nav">
            <a href="/">Katalog</a>
            <a href="/about">O nas</a>
            <a href="/contact">Kontakt</a>
            <a href="/faq">FAQ</a>
        </div>
        <p class="copyright">
            &copy; <span id="current-year"></span> GameBase. Wszelkie prawa zastrzeżone.
        </p>
    </footer>

    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
</body>

</html>